@import url('assets/fonts/Roboto-Regular.ttf');
*{
	font-family:'Roboto', sans-serif;
}

body {
	font-family:'Roboto', sans-serif;
	width:100%;
}

header {
	display: flex;
	background: #FEFEFE;
	padding: 20px 0;
	width: 100%;
	align-items: center;
	justify-items: space-between;
}

h1 {
	width:30%;
	margin-left:5%;
}
h1 img {
	width:100%;
}

#hamburguer {
	display: none;
}

.navMobile {
	display:none;
}
.navDesktop {
	width: 65%;
	justify-items: right;
}

.ulNavDesktop {
	margin-left: 20%;
}

.liNavDesktop {
    display: inline;
    margin-left:10px;
	font-size: 1em;
    color: #4B4B4B;
    border-left: 10px solid #E47231;
    padding-left: 5px;
    line-height: 1em;
    text-transform: uppercase;
}

.liNavDesktop a {
	color:#4B4B4B;
}

.liNavDesktop:hover {
	font-weight: bold;
}

.banner {
	width:100%;
	opacity: 0.8;
	background-color: #F2F2F2;
}

.firstDiv {
	background-color: #F2F2F2;
	padding-top: 30px;
}

.firstDiv p {
	line-height: 2em;
	font-size: 14px;
	color:#4B4B4B;
	text-align:justify;
}
.sobreNos {
	width:40%;
	display: inline-block;
	margin:5%;
}

.titulo-principal {
	text-align: left;
	font-size: 24px;
	text-transform: uppercase;
	margin: 0 0 1em;
	clear: left;
	color: #4B4B4B;
	font-weight: bold;
	text-decoration: underline 3px #E47231;
}

.historico {
	width:35%;
	display: inline-block;
	margin:4%;
	vertical-align: top;
	background-color: #FEFEFE;
	padding:3%;
	border-radius:2px;
}

.historico h3 {
	font-size: 18px;
	font-style:italic;
	font-weight: bold;
	color:#4B4B4B;
	margin-bottom: 1em;
	text-decoration: underline 2px #E47231;;	
}

.historico p {
	margin-bottom: 10px;
	text-align: justify;
}
.mpvsection {
	display:flex;
	justify-content:center;
}
.mpv {
	width:25%;
	display: inline-block;
	margin:3%;
}

.mpv h2 {
	text-align: left;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 0 1em;
	padding-bottom: 3px;
	clear: left;
	color: #4B4B4B;
	font-weight: bold;
	border-bottom: 2px solid #E47231;
}

.mpv p {
	line-height: 2em;
	font-size: 14px;
	color:#4B4B4B;
	text-align:justify;
}

.produtos {
	background-color: #F2F2F2;
	padding: 5%;
}
.produtos ul {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:3%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 20%;
	vertical-align: top;
	margin: 30px;
}

.produtos li img {
	width:100%;
	max-width: 250px;
	min-width: 135px;
}

.produto-descricao {
	line-height: 2em;
	font-size: 14px;
	font-weight: bold;
	color:#4B4B4B;
	text-align:center;
}

.contato {
	padding:5%;
}


form {
	margin-top: 40px;
	margin-bottom:40px;
	margin-left:35%;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
	color:#4B4B4B;
	font-size:16px;	
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 40%;
	background-color: #F2F2F2;
}

.botao {
	width: 18%;
	height: 2em;
	margin-left: 15%;
	background-color: #E47231;
	border:none;
	font-size: 16px;
	color:#F2F2F2;
	cursor: pointer;
}

.botao:hover{
	font-weight: bold;
	transition:0,7s;
}

.ondeEstamos {
	background-color: #F2F2F2;
	padding: 5%;
}

.infos {
	width:30%;
	display:inline-block;
	vertical-align: top;
	line-height: 2em;
	font-size: 14px;
	color:#4B4B4B;
	text-align:justify;
}

.infos > h3{
	font-weight:bold;
}
.infos > a{
	text-decoration: none;
	color:#E47231;
}

.infos > a:hover{
	font-weight:bold;
}
.mapa-conteudo {
	width: 60%;
	display:inline-block;
	margin-right: 5%;
}

footer {
	text-align: center;
	background-color: #FEFEFE;
	padding: 40px 0;
}

footer > img {
	width: 150px;
}

.copyright {
	color: #4B4B4B;
	font-size: 13px;
	margin: 20px 0 0;
}

footer > a {
	color:#4B4B4B;
	font-size: 13px;
	margin-left: 80%;
	text-decoration: underline;
}

